doctype html
html
  head
    title= 'Sharon\'s Blogging Engine' 
    h1= 'Sharon\'s Blogging Engine'
    link(rel='stylesheet', href='/stylesheets/style.css')
    .topnav
        a(href='/') Home
        a(href='/articles/new') Create Post
  body
    block content
